@import '~bootstrap/scss/_variables';

// Colors

$brand-primary: #ffac00;

// Typography

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Consolas, Menlo, Monaco, 'Courier New', monospace;
$font-family-base: $font-family-monospace;

// Buttons

$btn-primary-color: #fff;
$btn-primary-bg: #dd9500;
$btn-primary-border: darken($btn-primary-bg, 7%);

// Links

$link-color: $brand-primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);

// Grid

$grid-border-color: rgba($list-group-border-color, .5);